* {
    margin: 0;
    padding: 0;
}

div {
    height: 1200px;
    background-color: burlywood;
    /* position: relative; */
}

h3 {
    background-color: rgb(213, 156, 156);
    color: white;
    position: fixed;
    top: 0;
    left: 150px;
    z-index: 20;
}

h4 {
    background-color: rgba(72, 4, 4, 0.845);
    color: white;
    position: sticky;
    top: 0;
}

p {
    position: absolute;
    top: 0;
    left: 150px;
    background-color: rgb(255, 98, 0);
    z-index: 10;
}