div {
    background-color: aqua;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
    height: 200px;
    width: 200px;
}

/* span {
    background-color: cornflowerblue;
    height: 200px;
    width: 200px;
} */
#first {
    background-color: cornflowerblue;
    /* /* padding: 20px; */
    margin: 10px;

}

#second {
    background-color: rgb(186, 104, 32);
    padding: 20px;

}